<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.mangoo.mangooonlinefooddelivery">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBV7tEIs2KQ4n6YfB5_vdpBibLkitgX7Vo" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FoodList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderStatus"
            android:screenOrientation="portrait" />

        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ShowComment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Onboard"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_eXiJeMlNzXt3Yl" />

        <activity
            android:name=".PlaceOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderFailed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestaurantList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackingORder"
            android:label="@string/title_activity_tracking_order" />
    </application>

</manifest>